---
import { navItems } from 'src/constants';
import ThemeToggle from './ThemeToggle.jsx';
import NavItem from './NavItem.astro';
---

<script>
  const toggleMenuBtn = document.querySelector('#mobile-menu-button');
  const mobileMenuIcon = document.querySelector('#menu-svg-path');
  toggleMenuBtn?.addEventListener('click', () => {
    const mobileMenu = document.querySelector('.mobile-menu');
    if (mobileMenu?.classList.contains('hide')) {
      mobileMenu.classList.remove('hide');
      mobileMenuIcon?.setAttribute('d', 'M6 18L18 6M6 6l12 12');
    } else {
      mobileMenu?.classList.add('hide');
      mobileMenuIcon?.setAttribute(
        'd',
        'M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5',
      );
    }
  });
</script>

<nav class='sticky-nav'>
  <div
    class='flex items-center justify-between w-full p-8 bg-white shadow-md dark:bg-gray-900'
  >
    <div class='flex space-x-2'>
      <NavItem href='/'>
        <span class='text-xl font-bold md:text-3xl'>David Neuman</span>
      </NavItem>
    </div>
    <div class='flex space-x-4'>
      <div class='hidden space-x-4 items-center md:flex'>
        {
          navItems.map(({ name, href, popOut }) => (
            <NavItem href={href} popOut={popOut}>
              {name}
            </NavItem>
          ))
        }
      </div>
      <button
        id='mobile-menu-button'
        class='py-2 px-2 rounded md:hidden'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='w-6 h-6'
        >
          <path
            id='menu-svg-path'
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
        </svg>
      </button>
      <div>
        <ThemeToggle client:load />
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div
    class='mobile-menu hide absolute w-full flex flex-col justify-center items-center px-2 pt-2 pb-3 space-x-4 space-y-4 bg-white shadow-md dark:bg-gray-900 md:hidden'
  >
    {
      navItems.map(({ name, href, popOut }) => (
        <NavItem href={href} popOut={popOut}>
          {name}
        </NavItem>
      ))
    }
  </div>
</nav>

<style>
  .mobile-menu {
    transition: opacity ease-in 100ms, visibility ease-in 100ms;
    opacity: 1;
  }

  .mobile-menu.hide {
    visibility: hidden;
    opacity: 0;
  }
</style>
