---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getBooks } from 'src/data/books';

const books = getBooks();
---

<BaseLayout title='Books - <David Neuman />'>
  <Header textAlign='center'>
    <h1 class='text-6xl font-bold'>Books</h1>
    <p>Some of my favourite books</p>
  </Header>
  <div class='container p-5 my-10 mx-auto'>
    <div class='grid gap-4 mb-8 mx-auto md:grid-cols-2 md:gap-8 xl:grid-cols-3'>
      {
        books.map(({ title, author, imageUrl, summary, genre }) => (
          <div class='flex p-4 max-h-72 max-w-xl bg-gray-50 border-2 rounded-lg shadow-sm transition-transform transform ease-in-out md:hover:scale-105 md:hover:shadow-xl md:active:scale-105 md:active:shadow-xl dark:bg-cool-gray-900 dark:border-cool-gray-700'>
            <img
              src={imageUrl}
              alt={`Book cover for ${title} by ${author}`}
              class='w-30 max-h-52 md:w-44 md:max-h-64 rounded-md shadow-md'
            />
            <div class='flex flex-col max-w-[150px] m-auto text-center space-y-2 md:max-w-[200px]'>
              <h3 class='text-base md:text-xl font-bold'>{title}</h3>
              <div class='text-sm'>{author}</div>
              <p class='text-left text-xs md:text-sm'>{summary}</p>
              <div class='text-xs mt-auto font-semibold uppercase text-blue-900 dark:text-blue-500'>
                {genre}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
