---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { Image } from 'astro:assets';
import ContentCard from '@components/ContentCard.astro';
import Tags from '@components/Tags.astro';
import { formatDate } from '@util/formatter';
import ReadingTime from '@components/ReadingTime.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

const recentPosts = allPosts
  .sort(
    (p1, p2) =>
      new Date(p2.data.datePublished) - new Date(p1.data.datePublished),
  )
  .filter((post) => !post.data.draft)
  .slice(0, 4);
---

<BaseLayout>
  <section
    class='hero p-12 flex flex-col-reverse justify-center items-center mb-8 w-full md:flex-row md:space-x-24'
  >
    <Header textAlign='left'>
      <div class='max-w-xl'>
        <h1
          class='text-center dark:bg-black-transparent md:text-left md:dark:bg-transparent'
        >
          David Neuman
        </h1>
        <p class='text-sm font-medium mt-8 md:text-lg'>
          Hey there! 👋 I'm Dave. I write code, music and words on a screen.
          Currently building the future of luxury travel at <a
            class='link'
            target='_blank'
            href='https://lifehousehotels.com/'
            >Life House
          </a>
          .
        </p>
        <p class='text-sm font-header font-medium mt-8 md:text-lg'></p>
      </div>
    </Header>
    <Image
      class='rounded-full inline-block h-36 w-36 md:h-64 md:w-64'
      src='https://avatars.githubusercontent.com/u/42482170?v=4'
      alt='An avatar of David Neuman'
      format={'webp'}
      width={256}
      height={256}
    />
  </section>

  <div
    class='flex flex-col justify-center items-center p-5 max-w-4xl m-auto md:mt-8 space-y-8'
  >
    <h2>Latest Posts</h2>
    {
      recentPosts.map(({ data, body, slug }) => (
        <div class='w-full'>
          <ContentCard>
            <a href={`/blog/${slug}`}>
              <h3 class='font-sans'>{data.title}</h3>
              <div class='flex space-x-2 items-start'>
                <p class='text-sm mb-2 text-gray-700 dark:text-gray-500'>
                  {formatDate(data.datePublished)}
                </p>
                <ReadingTime html={body} />
              </div>
              <p class='text-gray-700 dark:text-gray-500'>{data.excerpt}</p>
            </a>
            <Tags tags={data.tags} />
          </ContentCard>
        </div>
      ))
    }
    <a href='/blog' class='flex items-center link py-0.5 px-1 space-x-2'>
      Read more
    </a>
  </div>
</BaseLayout>
