---
import Header from '@components/Header.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { ProductsResponse } from '../types';
import { Image } from 'astro:assets';

const accessToken = import.meta.env.GUMROAD_ACCESS_TOKEN;

const response = await fetch(
  `https://api.gumroad.com/v2/products?access_token=${accessToken}`,
);

const { products }: ProductsResponse = await response.json();
---

<BaseLayout>
  <script src='https://gumroad.com/js/gumroad.js' type='text/javascript' defer
  ></script>
  <Header textAlign='center'>
    <h1>Products</h1>
    <div class='flex flex-col justify-center items-center p-8'>
      {
        products.map((p) => (
          <div class='max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:border-none'>
            <Image
              class='w-full'
              src={p.thumbnail_url}
              alt='Wayfinder Weekly thumbnail'
              width={400}
              height={400}
            />
            <div class='p-5 dark:bg-gray-800'>
              <h5 class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'>
                {p.name}
              </h5>
              <p
                set:html={p.description}
                class='mb-3 font-normal text-gray-700 dark:text-gray-400'
              />
              <p class='mb-3 font-normal text-gray-700 dark:text-gray-400'>
                {p.formatted_price}
              </p>
              <button class='flex justify-center m-auto px-4 py-2 bg-blue-50 rounded-full hover:bg-blue-100 dark:bg-blue-900 dark:hover:bg-blue-800'>
                <a href='https://davidneuman2.gumroad.com/l/wayfinder-weekly'>
                  Buy on Gumroad
                </a>
              </button>
            </div>
          </div>
        ))
      }
    </div>
  </Header>
</BaseLayout>
