---
import { getCollections, getRaindrops } from '@api/raindrop';
import Header from '@components/Header.astro';
import ResourceItem from '@components/ResourceItem.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const collections = await getCollections();
  return collections.map((c) => ({
    params: { slug: c.slug },
    props: { id: c._id, title: c.title },
  }));
}

const { id, title } = Astro.props;
const { slug } = Astro.params;
const raindrops = await getRaindrops(id);
---

<BaseLayout title={`${slug} - <David Neuman />`}>
  <div class='flex flex-col py-8'>
    <div class='flex flex-col gap-8'>
      <Header>
        <h1 class='text-left'>{title}</h1>
      </Header>
      <div class='mt-8 grid md:grid-cols-2 gap-4 place-items-center'>
        {
          raindrops.map((rd) => (
            <ResourceItem
              title={rd.title}
              linkUrl={rd.link}
              imageUrl={rd.cover}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
