---
import Tags from '@components/Tags.astro';
import { formatDate } from '@util/formatter';
import type { CollectionEntry } from 'astro:content';
import ContentCard from './ContentCard.astro';
import ReadingTime from './ReadingTime.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props as Props;
---

<div class='mt-8 flex flex-col gap-4 px-5 max-w-xl mx-auto md:max-w-4xl'>
  {
    posts.map(({ data, body, slug }) => (
      <ContentCard>
        <a href={`/blog/${slug}`}>
          <h3 class='font-sans'>{data.title}</h3>
          <div class='flex space-x-2 items-start'>
            <p class='text-sm mb-2 text-gray-700 dark:text-zinc-300'>
              {formatDate(data.datePublished)}
            </p>
            <ReadingTime html={body} />
          </div>
          <p class='text-gray-700 dark:text-zinc-300'>{data.excerpt}</p>
        </a>
        <Tags tags={data.tags} />
      </ContentCard>
    ))
  }
</div>
